* {
  font-family: Abel;
}

.body {
  display: flex;
  background-color: azure;
  height: 100vh;
}

.pages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}