.page {
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: flex-start;
  align-items: center;
}

.playlist-container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  /* height: 25vh; */
  overflow-y: scroll;
  border-radius: 8px;
  height: 75%;
  width: 60%;
  background-color: white;
}

.page h1 {
  margin-bottom: 1rem;
}