.container {
  display: flex;
  border: 1px solid darkgrey;
  border-radius: 8px;
  min-height: 16vh;
  max-height: 20vh;
  width: 90%;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-between;
  overflow: hidden;
  background-color: azure;
  transition: .3s ease-out;
}

.container:hover{
    box-shadow: 3px 5px 3px rgb(198, 168, 123);
    background-color: rgb(239, 213, 175);
    width: 90%;

}

.playlist-pic {
  border-radius: 8px;
  margin: .5rem;
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

}

h3 {
  margin: 0 0 1rem 0;
  line-height: 1em;
  max-height: 2em; 
}

h5 {
  margin: 0;
  line-height: 1em;
  max-height: 2em; 
}

.button-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: visible;
}

.heart{
  cursor: pointer;
}

